@font-face {
    font-family: Lato-Semibold;
    src: url(assets/fonts/Lato-Semibold.ttf);
}
@font-face {
    font-family: Lato-Regular;
    src: url(assets/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Black;
    src: url(assets/fonts/Lato-Black.ttf);
}
@font-face {
    font-family: Lato-Medium;
    src: url(assets/fonts/Lato-Medium.ttf);
}
@font-face {
    font-family: Lato-Light;
    src: url(assets/fonts/Lato-Light.ttf);
}

html {
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 10px;
}

* {
    padding: 0px;
    margin: 0px;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;    
}

/* part1 */

.header .wrapper {
    height: 89px;
    background-color: #2d303a;
}

.logo {
    font-family: Lato-Semibold, Verdana, sans-serif;
    font-size: 12px; 
    color: white;
    position: absolute;
    margin-left: 40px;
    top: 30px;
}
.star {
    color: #f06c64;
}

.header__navigation ul {
    list-style: none;
}

.navigation {              
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 43px;
    padding-right: 40px;
}

.navigation li {
    color: #494e62;
    padding-left: 28px;
}

.navigation li:not(:last-child)::after {
    content: "•";
    font-size: 5px;
    color: #474c5f;
    position: relative;
    bottom: 2px;
    left: 14px;
}

.navigation a {
    font-family: Lato-Semibold, Verdana, sans-serif;
    font-size: 11px;
    letter-spacing: 0.4px;
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    color: #f06c64;
}

.header__navigation {
    margin-bottom: 36px;
}

.header__bottom {               
    background-color: #323746;
    position: relative;
    height: 6px;
    bottom: 3px; 
}

.slider .wrapper {  
    height: 602px;
    background-color: #f06c64;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-arrow,.right-arrow {
    padding: 41px;
}
.left-arrow:hover,.right-arrow:hover {
    cursor: pointer;
}

.iphone-vertical {
    margin-left: -59px;
}

.iphone-gorizontal {
    margin-right: -60px;
}

.services__bottom {              
    background-color: #ea676b;
    position: relative;
    height: 6px;
    bottom: 2px; 
}

.services .wrapper {
    height: 495px;
    background-color: #f2f2f2;
}

.services h2 {
    font-family: Lato-Black, Verdana, sans-serif;
    font-size: 30px; 
    color: #666d89;
    padding-top: 58px;
    padding-left: 40px;
}

.services p {
    font-family: Lato-Light, Verdana, sans-serif;
    font-size: 20px; 
    padding-top: 16px;
    padding-left: 40px;
    padding-right: 41px;
    text-align: justify;
    letter-spacing: -1.05px;
    line-height: 31px;
    color: #767e9e;
}

.main-text {
    margin-bottom: 47px;
}

.cards .column-3 {
    margin-bottom: -32px;
    padding-left: 41px;
    display: flex;
    flex-direction: row;
}

.cards .column-3 h3 {    
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 19px;
    color: #666d89;
    padding-left: 20px;
    margin-top: -5px;
}

.cards .column-3 p {
    font-family: Lato-Light, Verdana, sans-serif;
    padding-left: 21px;
    padding-top: 9px;
    width: 219px;
    height: 128px;
    font-size: 11px;
    letter-spacing: 0.4px;
    text-align: justify;
    line-height: 21px;
    color: #767e9e;
}

.cards>.column-3>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-left {
    margin-left: 1px;
}

.item-center {  
    margin-left: -21px;
    margin-right: -20px;
}

.white-bottom {
    background-color: #ffffff;
    position: relative;
    height: 6px;
    bottom: -28px;
}

.services {
    margin-bottom: 8px;
}

/* part2 */

.portfolio .wrapper {
    height: 870px;
    background-color: #2d303a;
    position: relative;
}

.portfolio h2, .about-us h2 {        
    font-family: Lato-Black, Verdana, sans-serif;
    font-size: 31px;
    font-weight: 900;
    letter-spacing: -0.3px;
    color: #666d89;
    padding-top: 59px;
    padding-left: 40px;
}

.portfolio p,  .about-us>.wrapper>p {        
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 18px;
    padding-right: 40px;
    text-align: justify;
    letter-spacing: -0.34px;
    line-height: 30px;
    color: #767e9e;
}

.block-4-button {
    padding-left: 41px;
    padding-top: 10px;
}

.block-4-button button {
    font-family: Lato-Light, Verdana, sans-serif;
    color: #767e9e;
    font-size: 11.5px;
    padding-left: 7px;
    padding-right: 8.5px;
    padding-top: 4px;
    padding-bottom: 3px;
    letter-spacing: 0.2px;
    background-color: #2d303a;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 5px;
}

.block-4-button button:hover {
    color: white;
    border-color: white;
}

.column-4-row-3 {
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 19px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 207px);
}

.column-4-row-3 :nth-child(n+13) {
    display: none;
}

.portfolio__bottom {
    position: relative;
    background-color: #323746;
    height: 6px;
    bottom: 3px; 
}

.about-us .wrapper {
    height: 728px;
    background-color: #f2f2f2;
}

.about-us h2 {        
    letter-spacing: -0.7px;
    margin-bottom: -1px;
}

.about-us .column-3 {
    padding-top: 45px;
    padding-left: 41px;
    padding-right: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.people .column-3 h3 {
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 18px;
    padding-top: 12px;
    letter-spacing: 0.2px;
    color: #666d89;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.people>.column-3>:nth-child(2) {
    padding-right: 10px;
}

.people .column-3 p {
    font-family: Lato-Light, Verdana, sans-serif;
    font-size: 11px;
    padding-top: 9px;
    padding-right: 19px;
    letter-spacing: 0.4px;
    text-align: justify;
    line-height: 22px;
    color: #767e9e;
}

.icons-sn {
    display: flex;
    flex-direction: row;
    padding-top: 24px;
}

.icons-sn>a>div {
    width: 32px;
    height: 32px;
    padding-right: 8px;
}

.facebook {
    background: url(assets/image/facebook.png);
} 
.google {
    background: url(assets/image/google.png);
} 
.twitter {
    background: url(assets/image/twitter.png);
} 
.linkedin {
    background: url(assets/image/linkedin.png);
} 

.facebook, .google, .twitter, .linkedin {
    background-repeat: no-repeat;
}

.about-us .white-bottom {
    bottom: -67px;
}

.about-us {
    margin-bottom: 6px;
}

/* part3 */


.get-a-quote .wrapper {
    height: 648px;
    background-color: #f06c64;
}

.get-a-quote h2 {        
    font-family: Lato-Black, Verdana, sans-serif;
    font-size: 31px;
    font-weight: 900;
    letter-spacing: -0.8px;
    color:#f0d8d9;
    padding-top: 59px;
    padding-left: 40px;
}

.get-a-quote>.wrapper>p {       
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding-left: 41px;
    margin-top: 15px;
    padding-right: 41px;
    text-align: justify;
    letter-spacing: -0.34px;
    line-height: 30px;
    color: #f0d8d9;
}

.forms-contacts {
    padding-left: 40px;
    padding-top: 45px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.p-name, .email, .decribe, .textarea, .submit {
    border: 1px solid #d6564f;
    border-radius: 5px;
    background-color: #d6564f;
    width: 616px;
    height: 36px;
    margin-bottom: 16px;
    margin-right: 22px;
}

.textarea {
    height: 200px;
    resize: none;
}

::placeholder {
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 12px;
    color: #f48c8f;
    letter-spacing: -0.1px;
    padding-left: 14px;
}

.textarea::placeholder {
    padding-top: 10px;
}

.submit {
    background-color: #d6564f;
    width: 80px;
    height: 25px;
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 13px;
    color: #f0d8d9;
}

.contact-info h3 {
    font-family: Lato-Black, Verdana, sans-serif;
    font-size: 19px;
    color: #f0d8d9;
    letter-spacing: -0.4px;
    margin-top: -2px;
}

.contact-info p {
    font-family: Lato-Light, Verdana, sans-serif;
    font-size: 12px;
    color: #f0d8d9;
    text-align: justify;
    line-height: 22px;
    padding-top: 7px;
}

.contact-info ul {
    list-style: none;
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 11px;
    letter-spacing: 0.3px;
    color: #f0d8d9;
    line-height: 22px;
    margin-top: 24px;
    margin-left: 20px;
}

.contact-info li:first-child {
    list-style-image: url(assets/image/location.png)
}
.contact-info li:nth-child(2) {
    list-style-image: url(assets/image/phone-cont.png)
}
.contact-info li:last-child {
    list-style-image: url(assets/image/mail.png)
}

.contact-info li {
    padding-left: 3px;
}

.contact-info a {
    text-decoration: none;
    color: #f0d8d9;
}

.get-a-quote__bottom {
    position: relative;
    background-color: #ea676b;
    height: 6px;
    bottom: -7px;
}

.footer .wrapper {
    height: 82px;
    background-color: #2d303a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    font-family: Lato-Light, Verdana, sans-serif;
    font-size: 11px;
    letter-spacing: 0.3px;
    color: #656d89;
    padding-left: 42px;
    padding-top: 4px;
}
 
.footer .icons-sn {
    padding-right: 32px;
    padding-top: 6px;
}