@font-face {
    font-family: Lato-Semibold;
    src: url(assets/fonts/Lato-Semibold.ttf);
}
@font-face { 
    font-family: Lato-Regular;
    src: url(assets/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Black;
    src: url(assets/fonts/Lato-Black.ttf);
}
@font-face {
    font-family: Lato-Medium;
    src: url(assets/fonts/Lato-Medium.ttf);
}
@font-face {
    font-family: Lato-Light;
    src: url(assets/fonts/Lato-Light.ttf);
}

html {
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.wrapper {
    width: 1020px;
    position: relative;
    margin: 0 auto;    
}

#id-home, #id-services, #id-portfolio, #id-about, #id-contact {   
    scroll-margin-top: 90px;
}

.header {
    position: relative;
    margin: 0 auto;
}

.header .wrapper {
    height: 95px;
    background-color: #2d303a;
    border-bottom:  #323746 6px solid;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

.logo {
    font-family: Lato-Semibold, Verdana, sans-serif;
    font-size: 12px; 
    color: white;
    position: absolute;
    margin-left: 40px;
    top: 30px;
}
.star {
    color: #f06c64;
}

.header__navigation ul {
    list-style: none;
}

.navigation {              
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 43px;
    padding-right: 40px;
}

.navigation li {
    color: #494e62;
    padding-left: 28px;
}

.navigation li:not(:last-child)::after {
    content: "•";
    font-size: 5px;
    color: #474c5f;
    position: relative;
    bottom: 2px;
    left: 14px;
}

.navigation a {
    text-decoration: none;
    font-family: Lato-Semibold, Verdana, sans-serif;
    font-size: 11px;
    letter-spacing: 0.4px;
    color: white;
}

.navigation .active {
    color: #f06c64;
}

.navigation a:hover {
    color: #f06c64;
}  

.header__navigation {
    margin-bottom: 36px;
}

#id-home {
    padding-top: 95px;
} 

.slider__container {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.slider__item {
    display: none;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 594px;
    animation: 1s ease-in-out;
}

.active-slide, .next {
    display: flex;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

/* для анимации слайдера */
.to-left {
    animation-name: left;
}
  
.from-right {
    animation-name: right;
}
  
.to-right {
    animation-name: right;
    animation-direction: reverse;
}
  
 .from-left {
    animation-name: left;
    animation-direction: reverse;
 }
  
@keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
}
  
@keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
}
 
.iphone-vertical, .iphone-horizontal {
    position: relative;
}

.iphone-vertical {
    padding-right: 7%;
}

#id-slide-1 {
    background-color: #f06c64;
    border-bottom: #ea676b 6px solid;
}

#id-slide-2 {
    background-color: #648BF0;
    border-bottom: #648BF0 6px solid;
}

.slider__control {
    position: absolute;
	top: calc(( 100% - 35px) / 2);
	z-index: 2;
}

#left-arrow, #right-arrow {
    cursor: pointer;
}

#left-arrow {
    left: 40px;
}

#right-arrow {
    right: 40px;
}

#left-arrow:active, #right-arrow:active {
    transform: scale(0.8);
}


#iph-vert-screen, #iph-horiz-screen {
    position: absolute;
    z-index: 4;
}

#iph-vert-screen {
    width: 60.5%;
    height: 69%;
    left: 4.5%;
    bottom: 17.7%;
    background-color: black;
}

#iph-horiz-screen {
    width: 69%;
    height: 78%;
    left: 12.3%;
    bottom: 16.4%;
    background-color: black;
}

.screen-off {
    display: none;
}

.services .wrapper {
    background-color: #f2f2f2;
    border-bottom:  #ffffff 6px solid;
    padding-bottom: 76px;
}

.services .main-text {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 36px;
}

.services h2 {
    font-family: Lato-Black, Verdana, sans-serif;
    font-size: 30px; 
    color: #666d89;
    padding-top: 58px;
}
.services .main-text p {
    font-family: Lato-Light, Verdana, sans-serif;
    font-size: 20px; 
    padding-top: 18px;
    text-align: justify;
    letter-spacing: -1.05px;
    line-height: 31px;
    color: #767e9e;
}

.cards .column-3-row-2 {
    margin-bottom: -32px;
    padding-left: 40px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 120px);
    justify-content: space-around;
}

.column-3-row-2 .column-3-row-2__item {
    display: flex;
}

.column-3-row-2__item div {
    padding: 10px;
}

.cards .column-3-row-2 h3 {    
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 19px;
    color: #666d89;
    margin-top: -5px;
    margin-bottom: 10px;
}

.cards .column-3-row-2 p {
    font-family: Lato-Light, Verdana, sans-serif;
    width: 100%;
    height: 80px;
    font-size: 11px;
    letter-spacing: 0.4px;
    text-align: justify;
    line-height: 21px;
    color: #767e9e;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio .wrapper {
    background-color: #2d303a;
    border-bottom: #323746 4px solid;
}

.portfolio h2, .about-us h2 {        
    font-family: Lato-Black, Verdana, sans-serif;
    font-size: 31px;
    font-weight: 900;
    letter-spacing: -0.3px;
    color: #666d89;
    padding-top: 59px;
    padding-left: 40px;
}

.portfolio p,  .about-us>.wrapper>p {        
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    text-align: justify;
    letter-spacing: -0.34px;
    line-height: 30px;
    color: #767e9e;
}

.block-4-button {
    padding-left: 41px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.block-4-button button {
    font-family: Lato-Light, Verdana, sans-serif;
    color: #767e9e;
    font-size: 11.5px;
    padding-left: 7px;
    padding-right: 8.5px;
    padding-top: 4px;
    padding-bottom: 3px;
    letter-spacing: 0.2px;
    background-color: #2d303a;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 5px;
}

.block-4-button button:hover {
    color: white;
    border-color: white;
    cursor: pointer;
}

.block-4-button .active-button {
    color: white;
    border-color: white;
}

.column-4-row-3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 207px);
}

.column-4-row-3 span {
    padding: 10px;
}

.column-4-row-3 :nth-child(n+13) {
    display: none;
}

.column-4-row-3 .active-pic {
    border: #F06C64 solid 5px;
    padding: 5px;
}

.about-us .wrapper {
    background-color: #f2f2f2;
    border-bottom: #ffffff 5px solid;
    padding-bottom: 50px;
}

.about-us h2 {        
    letter-spacing: -0.7px;
    margin-bottom: -1px;
}

.about-us .column-3 {
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-around;
}

.people .column-3 h3 {
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 18px;
    padding-top: 12px;
    letter-spacing: 0.2px;
    color: #666d89;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.people .column-3>div {
    padding: 10px;
}

.people .column-3 p {
    font-family: Lato-Light, Verdana, sans-serif;
    font-size: 11px;
    padding-top: 9px;
    letter-spacing: 0.2px;
    text-align: justify;
    line-height: 22px;
    color: #767e9e;
}

.icons-sn {
    display: flex;
    padding-top: 20px;
}

.icons-sn>div {
    padding: 20px;
    cursor: pointer;
}

.facebook {
    background: url(assets/image/facebook.png);
} 
.google {
    background: url(assets/image/google.png);
} 
.twitter {
    background: url(assets/image/twitter.png);
} 
.linkedin {
    background: url(assets/image/linkedin.png);
} 

.facebook, .google, .twitter, .linkedin {
    background-repeat: no-repeat;
}

.get-a-quote .wrapper {
    background-color: #f06c64;
    border-bottom: #ea676b 6px solid;
    padding-bottom: 10px;
}

.get-a-quote h2 {        
    font-family: Lato-Black, Verdana, sans-serif;
    font-size: 31px;
    font-weight: 900;
    letter-spacing: -0.8px;
    color:#f0d8d9;
    padding-top: 59px;
    padding-left: 40px;
}

.get-a-quote>.wrapper>p {       
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding-left: 40px;
    margin-top: 18px;
    padding-right: 40px;
    text-align: justify;
    letter-spacing: -0.34px;
    line-height: 30px;
    color: #f0d8d9;
}

.forms-contacts {
    padding-left: 40px;
    padding-top: 45px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forms input, .textarea {
    border: 1px solid #d6564f;
    border-radius: 5px;
    background-color: #d6564f;
    width: 620px;
    height: 38px;
    margin-bottom: 16px;
    margin-right: 22px;
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    padding-left: 14px;
}

.textarea {
    height: 200px;
    resize: none;
}

::placeholder {
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 12px;
    color: #f48c8f;
    letter-spacing: -0.1px;
}    

.textarea::placeholder {
    padding-top: 10px;
}

.submit {
    background-color: #d6564f;
    width: 120px;
    height: 25px;
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 13px;
    color: #f0d8d9;
    padding-right: 14px;
}

.contact-info h3 {
    font-family: Lato-Black, Verdana, sans-serif;
    font-size: 19px;
    color: #f0d8d9;
    letter-spacing: -0.4px;
    margin-top: -2px;
}

.contact-info p {
    font-family: Lato-Light, Verdana, sans-serif;
    font-size: 12px;
    color: #f0d8d9;
    text-align: justify;
    line-height: 22px;
    padding-top: 7px;
}

.contact-info ul {
    list-style: none;
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 11px;
    letter-spacing: 0.3px;
    color: #f0d8d9;
    line-height: 22px;
    margin-top: 20px;
    margin-left: 20px;
}

.contact-info li:first-child {
    list-style-image: url(assets/image/location.png)
}
.contact-info li:nth-child(2) {
    list-style-image: url(assets/image/phone-cont.png)
}
.contact-info li:last-child {
    list-style-image: url(assets/image/mail.png)
}

.contact-info li {
    padding-left: 3px;
}

.contact-info a {
    text-decoration: none;
    color: #f0d8d9;
}

.footer .wrapper {
    height: 76px;
    background-color: #2d303a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    font-family: Lato-Light, Verdana, sans-serif;
    font-size: 11px;
    letter-spacing: 0.3px;
    color: #656d89;
    padding-left: 42px;
}
 
.footer .icons-sn {
    padding-right: 32px;
    padding-bottom: 19px;
}

/* модальное окно */
#message-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0008;
    z-index: 100;
}

#message-block.hidden {
    display: none;
}

#message {
    position: absolute;
    top: 30%;
    left: 20%;
    border: 2px solid #2d303a;
    text-align: center;
    background-color: white;
    width: 60%;
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 20px;
    color: #2d303a;
    padding: 2%;
}


/* Responsive */

/* tablet 768 */
@media (max-width : 1019px) {

    .wrapper {
        width: 100vw;
    }

    .slider__item {
        height: calc( 450px + (100vw - 768px));
    }

    div.iphone-horizontal {
        width: 47%;
    }

    div.iphone-vertical {
        width: 30%;
    }
    
    .slider__container img {
        width: 100%;
        height: auto;
    }

    #left-arrow {
        left: 30px;
    }
    
    #right-arrow {
        right: 30px;
    }
    
    .services .wrapper {
        padding-bottom: 55px;
    }
    
    .services .main-text {
        margin-bottom: 24px;
    }
    .services h2 {
        padding-top: 40px;
    }

    .services .main-text p {
        padding-top: 15px;
    }
    .cards .column-3-row-2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 145px);
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .cards .column-3-row-2 p {
        padding-top: 5px;
    }
    
    
    .portfolio p {
        letter-spacing: 0.1px;
    }
    
    .column-3-row-2 .column-3-row-2__item {
        padding-right: 10%;
    }
    
    .block-4-button {
        margin-bottom: 20px;
    }
    
    .column-4-row-3 {
        padding-bottom: 50px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    
    .column-4-row-3 img {
        width: 100%;
    }
    
    .about-us h2 {
        padding-top: 52px;
    }

    .about-us>.wrapper>p {
        padding-top: 18px;
    }

    .about-us .column-3 {
        padding-top: 30px;
    }

    .people .people__item img {
        width: calc((100vw - 120px)/3);
        }
    
    .people .column-3 p {
        padding-top: 0;
    }

    .people .icons-sn {
        padding-top: 10px;
    }

    .get-a-quote .wrapper {
        padding-bottom: 42px;
    }
    
    .get-a-quote h2 {        
        padding-top: 53px;
    }

    .forms-contacts {
        padding-top: 25px;
    }

    .forms input, .textarea { 
        width: calc((100vw - 110px)*0.67);
        margin-bottom: 12px;
        margin-right: 30px;
    }

    .textarea {
        height: 160px;
        resize: none;
    }

    .contact-info p {
        padding-top: 0;
    }
    
    .contact-info ul {
        margin-top: 10px;
    }
}

/* Mobile 375 */
@media (max-width : 767px) {

    #id-home, #id-services, #id-portfolio, #id-about, #id-contact {   
        scroll-margin-top: 66px;
    }

    #id-home {
        padding-top: 71px;
    }

    .header .wrapper {
        height: 71px;
        border-bottom: none;
    }
    
    .logo {
        width: 92px;
        height: 24px;
        margin-left: calc( (100% - 85px) / 2);
        top: 24px;
        font-size: 10px;
        letter-spacing: -0.03em;
    }
    
    /* hamburger */
    
    .hamburger {
        display: inline-block;
        position: relative;
        width: 25px;
        height: 20px;
        left: 20px;
        top: 25px;
        z-index: 5;
    }
    
    .hamburger__line {
        content: "";
        position: absolute;
        display: inline-block;
        background:  #FFFFFF;;
        border-radius: 5px; 
        height: 2.4px;
        width: 100%;
        top: calc(50% - 1.2px);
        left: 0;
    }
    
    .hamburger::before {
        content: "";
        position: absolute;
        display: inline-block;
        background:  #FFFFFF;;
        border-radius: 5px; 
        height: 2.4px;
        width: 100%;
        left: 0;
        top: 0;
    }
    
    .hamburger::after {
        content: "";
        position: absolute;
        display: inline-block;
        background:  #FFFFFF;;
        border-radius: 5px; 
        height: 2.4px;
        width: 100%;
        left: 0;
        bottom: 0;
    }
    
    .header__navigation.hidden {
        display: none;
    }
    
    .logo.active-logo {
        z-index: 5;
        margin-left: 70px;
    }

    .hamburger.rotate {
        transform: rotate(90deg);
    }

    .header__navigation {
        position: fixed;
        width: 70%;
        height: 100vh;
        top: 0;
        left: 0;
        background: #2D303A;
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
        z-index: 3;
    }

    .header__navigation nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: #2D303A;
        opacity: 0.6;
        z-index: 2;
    }
    
    .navigation {
        position: relative;
        top: 230px;
        left: 70px;
        padding: 0;
        flex-direction: column;
        width: 205px;
        height: 260px;
    }

    .navigation li {
        padding-top: 28px;
        padding-left: 0;
    }
    
    .navigation  li::after {
        content: "";
    }
    
    .navigation a {
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.035em;
    }

    .slider__item {
        height: calc( 220px + (100vw - 375px));
    }

    #id-slide-1, #id-slide-2 {
        border-bottom: 2.5px;
    }
    
    #left-arrow {
        left: 10px;
    }
    
    #right-arrow {
        right: 10px;
    }
    
    .services .wrapper {
        padding-bottom: 30px;
    }
    
    .services .main-text {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
    }
    
    .services h2 {
        padding-top: 28px;
    }
    
    .services .main-text p {
        padding-top: 17px;
        letter-spacing: -0.75px;
        line-height: 30px;
    }

    .cards .column-3-row-2 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 120px);
        padding-left: 20px;
        padding-right: 20px;
    }

    .column-3-row-2 .column-3-row-2__item {
        padding-right: 0;
    }
    
    .cards .column-3-row-2 p {
        padding-top: 0;
        letter-spacing: 1px;
    }
    
    .portfolio h2, .portfolio p, .portfolio .block-4-button, .about-us h2, .about-us>.wrapper>p {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .portfolio h2 {
        padding-top: 42px;
    }
    
    .portfolio .block-4-button {
        padding-top: 17px;
    }
    
    .column-4-row-3 {
        padding-right: calc( 30px - 6.5px);
        padding-left: calc( 30px - 6.5px);
        padding-bottom: 26px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    
    .column-4-row-3 :nth-child(n+9) {
        display: none;
    }
    
    .column-4-row-3 span {
        padding: 6px 6.5px;
    }
    
    .about-us .wrapper {
        padding-bottom: 6px;
    }
    
    .about-us h2 {
        padding-top: 33px;
    }

    .about-us>.wrapper>p {
        letter-spacing: 0.1px;
    }
    
    .about-us .column-3 {
        flex-wrap: wrap;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 23px;
    }

    .people .people__item img {
        width: 100%;
    }
    
    .people .column-3>div {
        padding: 0;
    }
    
    .people .icons-sn {
        padding-top: 13px;
        padding-bottom: 26px;
    }
    
    
    .get-a-quote h2, .get-a-quote>.wrapper>p, .forms-contacts {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .get-a-quote h2 {
        padding-top: 43px;
    }
    
    .get-a-quote>.wrapper>p {
        letter-spacing: 0px;
    }
    
    .forms-contacts {
        padding-top: 22px;
        flex-wrap: wrap;
    }
    
    .forms input, .textarea {
        width: calc( 100vw - 60px );
    }
    
    .forms {
        padding-bottom: 30px;
    }

    .contact-info ul {
        line-height: 25px;
    }

    .get-a-quote .wrapper {
        padding-bottom: 35px;
    }

    .footer p {
        display: none;
    }

    .footer .icons-sn {
        padding-right: calc(( 100% - 168px) / 2);
        padding-bottom: 14px;
    }
}

