@font-face {
    font-family: Lato-Semibold;
    src: url(assets/fonts/Lato-Semibold.ttf);
}
@font-face { 
    font-family: Lato-Regular;
    src: url(assets/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Black;
    src: url(assets/fonts/Lato-Black.ttf);
}
@font-face {
    font-family: Lato-Medium;
    src: url(assets/fonts/Lato-Medium.ttf);
}
@font-face {
    font-family: Lato-Light;
    src: url(assets/fonts/Lato-Light.ttf);
}

html {
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

* {
    padding: 0px;
    margin: 0px;
}

.wrapper {
    width: 1020px;
    position: relative;
    margin: 0 auto;    
}

/* чтобы header не заслонял начало секций (когда перемещаемся по якорям) */
.section {
    display: block;
    position: relative;
    top: -95px;
    visibility: hidden;
}

.header {
    position: relative;
    margin: 0 auto;
}

#id-home {
    padding-top: 95px;
}

.header .wrapper {
    height: 89px;
    background-color: #2d303a;
    border-bottom:  #323746 6px solid;
    position: fixed;
    margin-left: calc((100% - 1020px)/2);
    z-index: 10;
}

.logo {
    font-family: Lato-Semibold, Verdana, sans-serif;
    font-size: 12px; 
    color: white;
    position: absolute;
    margin-left: 40px;
    top: 30px;
}
.star {
    color: #f06c64;
}

.header__navigation ul {
    list-style: none;
}

.navigation {              
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 43px;
    padding-right: 40px;
}

.navigation li {
    color: #494e62;
    padding-left: 28px;
}

.navigation li:not(:last-child)::after {
    content: "•";
    font-size: 5px;
    color: #474c5f;
    position: relative;
    bottom: 2px;
    left: 14px;
}

.navigation a {
    text-decoration: none;
    font-family: Lato-Semibold, Verdana, sans-serif;
    font-size: 11px;
    letter-spacing: 0.4px;
    color: white;
}

.navigation .active {
    color: #f06c64;
}

.navigation a:hover {
    color: #f06c64;
    cursor: pointer;
} 

.header__navigation {
    margin-bottom: 36px;
}


.slider.wrapper {   
    background-color: #f06c64;
    border-bottom:  #ea676b 6px solid;
    margin-top: 95px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1020px;
    height: 594px;
}    

.slider__wrapper {
    overflow: hidden;
    position: relative;
    width: 1020px;
    height: 600px;
    z-index: 1;
}

.slider__container {
    display: flex;
	position: relative;
	top: 0;
	left: 0;
	width: 10000px;
}

.slider__container.shifting {
    transition: left 0.2s ease-out; 
}

.slider__item {
    width: 1020px;
    height: 594px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	transition: all 1s;
	position: relative;
	background: #F06C64;
}

.iphone-vertical, .iphone-horizontal {
    position: relative;
}

#id-slide-1 {
    align-items: center;
}

.slider__control {
    position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top: -20px;
	z-index: 2;
}

#left-arrow, #right-arrow {
    background-position: center;
    cursor: pointer;
}

#left-arrow {
    left: 41px;
}

#right-arrow {
    right: 7px;
}

#left-arrow:active, #right-arrow:active {
    transform: scale(0.8);
}

.iphone-vertical {
    flex-grow: 0.25;
}

#iph-vert-button, #iph-horiz-button, #iph-vert-screen, #iph-horiz-screen {
    position: absolute;
    z-index: 4;
}

#iph-vert-button {
    width: 14%;
    height: 9%;
    left: 27%;
    bottom: 7%;
    cursor: pointer;
    /* background-color: red;
    opacity: 0.5; */
}

#iph-vert-screen {
    width: 60.5%;
    height: 69%;
    left: 4%;
    bottom: 17.7%;
    background-color: black;
    /* opacity: 0.5; */
}

#iph-horiz-button {
    width: 10%;
    height: 20%;
    left: 1%;
    bottom: 45%;
    cursor: pointer;
    /* background-color: red;
    opacity: 0.5; */
}

#iph-horiz-screen {
    width: 69%;
    height: 78%;
    left: 12.3%;
    bottom: 16.4%;
    background-color: black;
    /* opacity: 0.5; */
}

.screen-off {
    display: none;
}

.services .wrapper {
    height: 494px;
    background-color: #f2f2f2;
    border-bottom:  #ffffff 6px solid;
}

.services h2 {
    font-family: Lato-Black, Verdana, sans-serif;
    font-size: 30px; 
    color: #666d89;
    padding-top: 58px;
    padding-left: 40px;
}

.services p {
    font-family: Lato-Light, Verdana, sans-serif;
    font-size: 20px; 
    padding-top: 18px;
    padding-left: 40px;
    padding-right: 41px;
    text-align: justify;
    letter-spacing: -1.05px;
    line-height: 31px;
    color: #767e9e;
}

.main-text {
    margin-bottom: 47px;
}

.cards .column-3 {
    margin-bottom: -32px;
    padding-left: 41px;
    display: flex;
    flex-direction: row;
}

.cards .column-3 h3 {    
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 19px;
    color: #666d89;
    padding-left: 20px;
    margin-top: -5px;
}

.cards .column-3 p {
    font-family: Lato-Light, Verdana, sans-serif;
    padding-left: 21px;
    padding-top: 9px;
    width: 219px;
    height: 80px;
    margin-bottom: 48px;
    font-size: 11px;
    letter-spacing: 0.4px;
    text-align: justify;
    line-height: 21px;
    color: #767e9e;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards>.column-3>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-left {
    margin-left: 1px;
}

.item-center {  
    margin-left: -21px;
    margin-right: -20px;
}

.portfolio .wrapper {
    height: 864px;
    background-color: #2d303a;
    border-bottom: #323746 4px solid;
}

.portfolio h2, .about-us h2 {        
    font-family: Lato-Black, Verdana, sans-serif;
    font-size: 31px;
    font-weight: 900;
    letter-spacing: -0.3px;
    color: #666d89;
    padding-top: 59px;
    padding-left: 40px;
}

.portfolio p,  .about-us>.wrapper>p {        
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 18px;
    padding-right: 40px;
    text-align: justify;
    letter-spacing: -0.34px;
    line-height: 30px;
    color: #767e9e;
}

.block-4-button {
    padding-left: 41px;
    padding-top: 10px;
    margin-bottom: 8px;
    /* position: relative; */
    /* display:  */
}

.block-4-button button {
    font-family: Lato-Light, Verdana, sans-serif;
    color: #767e9e;
    font-size: 11.5px;
    padding-left: 7px;
    padding-right: 8.5px;
    padding-top: 4px;
    padding-bottom: 3px;
    letter-spacing: 0.2px;
    background-color: #2d303a;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 5px;
}

.block-4-button button:hover {
    color: white;
    border-color: white;
    cursor: pointer;
}

.block-4-button>.active-button {
    color: white;
    border-color: white;
}

.column-4-row-3 {
    padding-left: 30px;
    padding-right: 30px;
    /* padding-top: 8px; */
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 207px);
}

.column-4-row-3 span {
    padding: 10px;
}
.column-4-row-3 :nth-child(n+13) {
    display: none;
}

.about-us .wrapper {
    height: 730px;
    background-color: #f2f2f2;
    border-bottom: #ffffff 5px solid;
}

.about-us h2 {        
    letter-spacing: -0.7px;
    margin-bottom: -1px;
}

.about-us .column-3 {
    padding-top: 45px;
    padding-left: 41px;
    padding-right: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column-4-row-3 .active-pic {
    border: #F06C64 solid 5px;
    padding: 5px;
}

.people .column-3 h3 {
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 18px;
    padding-top: 12px;
    letter-spacing: 0.2px;
    color: #666d89;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.people>.column-3>:nth-child(2) {
    padding-right: 10px;
}

.people .column-3 p {
    font-family: Lato-Light, Verdana, sans-serif;
    font-size: 11px;
    padding-top: 9px;
    padding-right: 19px;
    letter-spacing: 0.4px;
    text-align: justify;
    line-height: 22px;
    color: #767e9e;
}

.icons-sn {
    display: flex;
    flex-direction: row;
    padding-top: 24px;
}

.icons-sn>a>div {
    width: 32px;
    height: 32px;
    padding-right: 8px;
}

.facebook {
    background: url(assets/image/facebook.png);
} 
.google {
    background: url(assets/image/google.png);
} 
.twitter {
    background: url(assets/image/twitter.png);
} 
.linkedin {
    background: url(assets/image/linkedin.png);
} 

.facebook, .google, .twitter, .linkedin {
    background-repeat: no-repeat;
}

.get-a-quote .wrapper {
    height: 648px;
    background-color: #f06c64;
    border-bottom: #ea676b 6px solid;
}

.get-a-quote h2 {        
    font-family: Lato-Black, Verdana, sans-serif;
    font-size: 31px;
    font-weight: 900;
    letter-spacing: -0.8px;
    color:#f0d8d9;
    padding-top: 59px;
    padding-left: 40px;
}

.get-a-quote>.wrapper>p {       
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding-left: 41px;
    margin-top: 15px;
    padding-right: 41px;
    text-align: justify;
    letter-spacing: -0.34px;
    line-height: 30px;
    color: #f0d8d9;
}

.forms-contacts {
    padding-left: 40px;
    padding-top: 45px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.p-name, .email, .subject, .textarea, .submit {
    border: 1px solid #d6564f;
    border-radius: 5px;
    background-color: #d6564f;
    width: 603px;
    height: 36px;
    margin-bottom: 16px;
    margin-right: 22px;
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    padding-left: 14px;
}

.textarea {
    height: 200px;
    resize: none;
}

::placeholder {
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 12px;
    color: #f48c8f;
    letter-spacing: -0.1px;
}    

.textarea::placeholder {
    padding-top: 10px;
}

.submit {
    background-color: #d6564f;
    width: 120px;
    height: 25px;
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 13px;
    color: #f0d8d9;
    padding-right: 14px;
}

.contact-info h3 {
    font-family: Lato-Black, Verdana, sans-serif;
    font-size: 19px;
    color: #f0d8d9;
    letter-spacing: -0.4px;
    margin-top: -2px;
}

.contact-info p {
    font-family: Lato-Light, Verdana, sans-serif;
    font-size: 12px;
    color: #f0d8d9;
    text-align: justify;
    line-height: 22px;
    padding-top: 7px;
}

.contact-info ul {
    list-style: none;
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 11px;
    letter-spacing: 0.3px;
    color: #f0d8d9;
    line-height: 22px;
    margin-top: 20px;
    margin-left: 20px;
}

.contact-info li:first-child {
    list-style-image: url(assets/image/location.png)
}
.contact-info li:nth-child(2) {
    list-style-image: url(assets/image/phone-cont.png)
}
.contact-info li:last-child {
    list-style-image: url(assets/image/mail.png)
}

.contact-info li {
    padding-left: 3px;
}

.contact-info a {
    text-decoration: none;
    color: #f0d8d9;
}

.footer .wrapper {
    height: 76px;
    background-color: #2d303a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    font-family: Lato-Light, Verdana, sans-serif;
    font-size: 11px;
    letter-spacing: 0.3px;
    color: #656d89;
    padding-left: 42px;
}
 
.footer .icons-sn {
    padding-right: 32px;
    padding-bottom: 24px;
}
/* модальное окно */
#message-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0008;
    z-index: 100;
}

#message-block.hidden {
    display: none;
}

#message {
    position: absolute;
    top: 30%;
    left: 40%;
    border: 2px solid #2d303a;
    text-align: center;
    background-color: white;
    width: 20%;
    height: 20%;
    font-family: Lato-Regular, Verdana, sans-serif;
    font-size: 20px;
    color: #2d303a;
    padding: 1%;
}